<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenRoad · Catàleg</title>

    <link rel="stylesheet" href="/css/cataleg.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/header.css">
    <script src="/js/header.js" defer></script>
    <script src="/js/filtres.js" defer></script>

</head>
<body>
<div th:replace="/header.html :: siteHeader"></div>
<main>

    <section id="cars" class="cars-section">

        <div class="container2">
            <h2 class="titulo text-center mb-4">Catàleg</h2>
            <div class="cars-grid">

                <div th:each="vehicle : ${vehiculos}" class="card">
                    <img th:src="'data:image/jpeg;base64,' + ${vehicle.foto}" alt="Foto del vehículo"/>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${vehicle.marca} + ' ' + ${vehicle.model}">Mercedes Benz
                        </h5>
                        <div class="car-details"></div>
                        <div class="car-details">
                            <div class="icon">
                                <i class="fas fa-palette"></i>
                                <span th:text="${vehicle.color}"></span>
                            </div>
                            <div class="icon">
                                <i class="fa-solid fa-gas-pump"></i>
                                <span th:text="${vehicle.combustible}"></span>
                            </div>
                            <div class="icon">
                                <i class="fa-solid fa-gear"></i>
                                <span th:text="${vehicle.caixaCanvis}"></span>
                            </div>
                        </div>
                        <div class="dades">
                            <p class="diesLLog-text"
                               th:text="'Lloguer: ' + ${vehicle.diesLloguerMinim} + ' - ' + ${vehicle.diesLloguerMaxim} + ' dies'">
                            <p class="loc-text" th:text="${vehicle.creador.poblacio}"></p>
                        </div>
                        <hr>
                        </hr>
                    </div>
                    <div class="dies-box">
                        <p class="dies-text">Dia: </p>
                        <p class="dies" th:text="' ' + ${vehicle.preuDia} + ' €'"></p>
                    </div>
                    <div class="dies-box">
                        <p class="dies-text">Fiança: </p>
                        <p class="dies" th:text="' ' + ${vehicle.fianca} + ' €'"></p>
                    </div>
                    <a th:href="@{/detallsVehicle/{matricula}(matricula=${vehicle.matricula})}" class="btn btn-dark">Veure
                        detalls</a>
                </div>
            </div>

        </div>

    </section>
</main>
</body>
</html>

<footer>
    <div class="container">
        <p>&copy; 2025 OpenRoad-Adrià Mayo Ortiz. Tots els drets reservats.</p>
    </div>
</footer>