<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/CrearAgente.css}">
    <script src="/js/header.js" defer></script>
    <link rel="stylesheet" href="/css/header.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Librería de mapas js -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <title>Crear Usuaris</title>
</head>

<body>
<div th:replace="/header.html :: siteHeader"></div>
<h1>Crear Usuaris</h1>
<form th:action="${isEdit} ? '/admin/editarUsuari' : '/admin/newUsuari'" th:object="${usu}" method="POST">
    <div th:if="${isEdit}">
    <input type="hidden" name="nomUsuari" th:value="${usu.nomUsuari}" />
    </div>
    <!-- DNI -->
    <div th:if="${isEdit}">
        <label for="dni">DNI:</label>
        <input type="text" id="dni" name="dni" th:field="*{dni}" placeholder="El DNI no es editable" readonly>
    </div>
    <div th:if="${!isEdit}">
        <label for="dni">DNI:</label>
        <input type="text" th:field="*{dni}">
        <div class="error-message" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></div>
    </div>
    <!-- Nom -->
    <label for="nom">Nom:</label>
    <input type="text" id="nom" th:field="*{nom}">
    <div class="error-message" th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></div>

    <!-- Cognom 1 -->
    <label for="cognoms">Cognoms</label>
    <input type="text" id="cognoms" th:field="*{cognoms}" >
    <div class="error-message" th:if="${#fields.hasErrors('cognoms')}" th:errors="*{cognoms}"></div>

    <!-- Num Contacte 1 -->
    <label for="numContacte">Número de contacte:</label>
    <input type="tel" id="numContacte" th:field="*{numContacte}" >
    <div class="error-message" th:if="${#fields.hasErrors('numContacte')}" th:errors="*{numContacte}"></div>

    <!-- Email -->
    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}" >
    <div class="error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

    <!-- Contraseña -->
    <div th:if="${isEdit}">
        <label for="contrasenya">Contrasenya:</label>
        <input type="password" id="contrasenya" name="contrasenya" placeholder="La contrasenya no es editable" readonly>
    </div>
    <div th:if="${!isEdit}">
        <label for="contrasenya">Contrasenya:</label>
        <input type="password" th:field="*{contrasenya}">
        <div class="error-message" th:if="${#fields.hasErrors('contrasenya')}" th:errors="*{contrasenya}"></div>
    </div>


    <label>
        <span>Nacionalitat</span>
        <select class="input" th:field="*{pais}" id="pais" required>
            <option value="" disabled selected hidden></option>
            <option class="inp_pais" th:each="pais : ${pais}" th:value="${pais}" th:text="${pais}"></option>
        </select>
    </label>

    <label for="codiPostal">CodiPostal:</label>
    <input type="text" id="codiPostal" th:field="*{codiPostal}">
    <div class="error-message" th:if="${#fields.hasErrors('codiPostal')}" th:errors="*{codiPostal}"></div>

    <label for="poblacio">Població:</label>
    <input type="text" id="poblacio" th:field="*{poblacio}">
    <div class="error-message" th:if="${#fields.hasErrors('poblacio')}" th:errors="*{poblacio}"></div>

    <label for="direccio">Adreça:</label>
    <input type="text" id="direccio" th:field="*{direccio}">
    <div class="error-message" th:if="${#fields.hasErrors('direccio')}" th:errors="*{direccio}"></div>

    <label>
        <span>Rol</span>
        <select class="input" th:field="*{rol}" id="rol" required>
            <option value="" disabled selected hidden></option>
            <option class="inp_pais" th:each="rol : ${rol}" th:value="${rol}" th:text="${rol}"></option>
        </select>
    </label>

    <label>
        <span>Estat Usuari</span>
        <select class="input" th:field="*{estat}" id="estat" required>
            <option value="" disabled selected hidden></option>
            <option class="inp_pais" th:each="estat : ${estat}" th:value="${estat}" th:text="${estat}"></option>
        </select>
    </label>

    <div th:if="${isEdit}">
        <button type="submit">Editar Usuari</button>
    </div>
    <div th:if="${!isEdit}">
        <button type="submit">Crear Usuari</button>
    </div>
</form>
</body>

</html>
