<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/CrearVehicle.css">
    <link rel="stylesheet" href="/css/header.css">
    <title>OpenRoad · Crear Vehícle</title>

    <!-- JS HEADER -->
    <script src="/js/header.js" defer></script>

</head>
<body>
<header class="nav-container">
    <nav class="navbar">
        <div class="logo">
            <a class="logo">
                <img src="/Imagenes/logo_openroad.png" alt=" " class="logo-img" width="55px" height="55px">
            </a>
        </div>

        <ul class="nav-links">
            <li><a href="#section1">Inici</a></li>
            <li><a th:href="@{/cataleg}">Catàleg</a></li>
            <li><a href="#section3">Contacte</a></li>

            <li class="user-menu-container">
                <button class="icono_user">
                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                    </svg>
                    <a class="username" th:if="${isLogged}" th:text="${nomUsuari}"></a>
                </button>
            </li>
        </ul>
    </nav>
</header>

<div class="container mt-5">
    <h2>Crear Vehicle</h2>
    <form th:action="@{/agent/crear}" th:object="${vehicle}" method="post" enctype="multipart/form-data">
        <!-- Matricula -->
        <div class="mb-3">
            <label for="matricula" class="form-label">Matrícula</label>
            <input type="text" class="form-control" id="matricula"  th:field="*{matricula}">
            <div class="error-message" th:if="${#fields.hasErrors('matricula')}" th:errors="*{matricula}"></div>
        </div>



        <!-- Botón de Crear Vehicle -->
        <button type="submit" class="btn btn-primary">Crear Vehicle</button>
    </form>

</div>

</body>
</html>

<!-- Footer -->
<footer>
    <div class="container">
        <p>&copy; 2024 OpenRoad. Tots els drets reservats.</p>
    </div>
</footer>
