<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="login-container">
    <h1>Iniciar Sesión</h1>
    <div th:if="${param.expired}">
        <p class="error">Tu sesión ha expirado. Inicia sesión de nuevo.</p>
    </div>
    <form class="row g-3" th:action="@{/login}" method="post">
        <div class="form-group">
            <label for="nomUsuari">Usuari</label>
            <input type="text" id="nomUsuari" name="nomUsuari" placeholder="Usuari" required>
        </div>
        <div class="form-group">
            <label for="password">Contrasenya</label>
            <input type="password" id="password" name="password" placeholder="Contrasenya" required>
        </div>

        <button type="submit" class="btn btn-primary">Accedeix</button>
        <div class="forgot-password">
            <a href="/registrar/mostrar_registro">Crea un compte</a>
        </div>
    </form>
</div>
</body>
</html>
