<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil d'Usuari</title>
    <link rel="stylesheet" th:href="@{/css/perfil.css}">
    <script src="/js/header.js" defer></script>
    <link rel="stylesheet" href="/css/header.css" />
</head>
<body>
<div th:replace="/header.html :: siteHeader"></div>
<form th:action="@{/perfil/editar}" th:object="${cliente}" method="post" enctype="multipart/form-data">

    <!-- Contenedor principal centrado -->
    <div class="main-container">

        <!-- Menú lateral (Sidebar) -->
        <div class="sidebar">

            <div class="profile-image">
                <img th:src="'data:image/jpeg;base64,' + ${cliente.foto}" alt=" ">
            </div>
            <div class="profile-name" th:text="${cliente.nomUsuari}"></div> <!-- Nombre de usuario -->
            <div class="profile-bio">
                <h3 th:text="${cliente.nom} + ' ' + ${cliente.cognoms}"></h3> <!-- Nombre completo -->
            </div>

            <!-- Botón para cambiar la foto -->
            <div class="file-upload">
                <label class="file-upload-btn" for="imagen">Subir Foto</label>
                <input type="file" class="form-control" id="imagen" name="imagen" accept="image/*">
            </div>
        </div>

        <!-- Contenido principal -->
        <div class="content">
            <div class="profile-container">
                <h1>Dades del meu perfil</h1>

                <div class="profile-field">
                    <h3>Nom d'Usuari:</h3>
                    <h5 class="profile-name" th:text="${cliente.nomUsuari}"></h5>
                    <input type="hidden" id="nomUsuari" name="nomUsuari" th:value="${cliente.nomUsuari}">
                </div>

                <div class="profile-field">
                    <h3>Nom:</h3>
                    <input type="text" id="nom" name="nom" th:value="${cliente.nom}" placeholder="Nom">
                    <div class="error-message" th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></div>
                </div>

                <div class="profile-field">
                    <h3>Cognoms</h3>
                    <input type="text" id="cognoms" name="cognoms" th:value="${cliente.cognoms}" placeholder="Cognom 1">
                    <div class="error-message" th:if="${#fields.hasErrors('cognoms')}" th:errors="*{cognoms}"></div>
                </div>

                <div class="profile-field">
                    <h3>DNI</h3>
                    <input type="text" id="dni" name="dni" th:value="${cliente.dni}" placeholder="DNI">
                    <div class="error-message" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></div>
                </div>

                <div class="profile-field">
                    <h3>Número de contacte:</h3>
                    <input type="text" id="numContacte" name="numContacte" th:value="${cliente.numContacte}" placeholder="Telefon">
                </div>
                <div class="error-message" th:if="${#fields.hasErrors('numContacte')}" th:errors="*{numContacte}"></div>
                <div class="profile-field">
                    <h3>Codi Postal:</h3>
                    <input type="text" id="codiPostal" name="codiPostal" th:value="${cliente.codiPostal}" placeholder="Codi postal">
                    <div class="error-message" th:if="${#fields.hasErrors('codiPostal')}" th:errors="*{codiPostal}"></div>
                </div>

                <div class="profile-field">
                    <h3>Direcció:</h3>
                    <input type="text" id="direccio" name="direccio" th:value="${cliente.direccio}" placeholder="Direcció">
                    <div class="error-message" th:if="${#fields.hasErrors('direccio')}" th:errors="*{direccio}"></div>
                </div>

                <div class="profile-field">
                    <h3>Correu Electrònic:</h3>
                    <input type="text" id="email" name="email" th:value="${cliente.email}" placeholder="Correu electronic">
                </div>
                <div class="error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                <div class="profile-field">
                    <h3>Població:</h3>
                    <input type="text" id="poblacio" name="poblacio" th:value="${cliente.poblacio}" placeholder="Població">
                </div>
                <div class="error-message" th:if="${#fields.hasErrors('poblacio')}" th:errors="*{poblacio}"></div>

                <div class="profile-field">
                    <label for="pais" class="form-label">Pais</label>
                    <select  id="pais" th:field="*{pais}" >
                        <option value="" disabled selected>Seleccioneu un Pais</option>
                        <option th:each="pais : ${T(adria.mayo.proyectopersonal.entity.enums.enumsVehiculo.Pais).values()}"
                                th:value="${pais}" th:text="${pais}"></option>
                    </select>
                </div>
                <div>

                    <button type="submit">Guardar Canvis</button>
                    <a class="btn_explora" th:href="@{/}">Sortir</a>
                </div>
            </div>
        </div>

    </div>

</form>

</body>
</html>
